---
import Layout from "@layouts/Layout.astro";
import TimerCard from '@components/Dashboard/Pomodoro/TimeCard.astro';
---

<Layout>
  <section class="p-5">
    <TimerCard 
    minutesId={'minutesId'}
    secondsId={'secondsId'}
  />
  </section>
</Layout>
