---
import { Icon } from 'astro-icon/components'
import AuthLayout from "@layouts/AuthLayout.astro";
import AuthForm from "@components/Auth/AuthForm.astro";
---

<AuthLayout>
    <section class="w-screen h-screen grid grid-cols-1 md:grid-cols-2">
        <div class=" w-full h-full flex items-center justify-center">
            <div class="max-w-md w-full">
                <Icon name='signature' class="m-auto mb-10 scale-150"/>
                <AuthForm action='/dashboard'/>
            </div>
        </div>

        <div class="bg-[url(/Backgrounds/IanRPO-BG.png)] w-full hidden md:block ">

        </div>
    </section>
</AuthLayout>