---
import NavBar from "@components/Dashboard/NavBar.astro";
const Pathname = Astro.originPathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title></title>
  </head>
  <body class="bg-neutral-950">
    <main class="min-h-screen w-full bg-neutral-900 flex overflow-x-hidden relative selection:bg-lime-700 selection:text-lime-300 text-white">
        <NavBar />
        <div class="flex-1 flex flex-col relative">
          
          <section class="bg-black border-b border-neutral-800 p-5">
            <h1 class="font-mono capitalize">
              {Pathname === "/" ? "BetterMe | Home" : 'BetterMe | ' + Pathname.replace('/', '')}
            </h1>
          </section>

            <slot />

        </div>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
</style>
