---
interface Props {
    htmlFor: string;
    labelText: string;
    isPasswordInput?: boolean;
    passwordRedirect?: string;
}   

const { htmlFor, labelText, isPasswordInput = false, passwordRedirect} = Astro.props;
---

<label for={ htmlFor } class="flex flex-col">
    <div class="flex justify-between">
        <span class="mb-2 font-semibold">{ labelText }</span>
        {
            isPasswordInput ? <a href={ passwordRedirect } class="ml-auto text-sm underline-offset-4 hover:underline cursor-pointer">Forgot your password?</a> : ''
        }
    </div>
    <slot />
</label>